body {
    margin: 0;
    background-color: #1F2937;
    font-family: 'Karla', sans-serif;
}

#container{
     margin: 115px 0px 0px 52px;
}

#zero{
    margin-top: 10px;
    font-size: 20px;
}

h1{
    margin: 0px;
}

p{
    color: #D5D4D8;
    font-size: 15px;
}

#main{
    padding-bottom: 20px;
    border-bottom: 1px solid #2F3E53;
    width: 500px;
}

#hero{
    font-size: 40px;
    width: 354px;
    line-height: 40px;
    letter-spacing: -0.012cm;
    color: white;
}
.green-color{
    color: #4ADF86;
}

#pass-gen{
    background-color: #10B981;
    border: 3px solid #10B981;
    padding: 10px 17px;
    border-radius: 6px;
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
}

#pass-gen:hover{
    background-color: #38bd91;
}

label{
    color: #D5D4D8;
    margin-right: 5px;
}

#pass-container{
    display: flex;
}

.password{
    margin: 30px 30px 0px 0px;
    width: 210px;
    height: 40px;
    background-color: #273549;
    border-radius: 6px;
    color: #55F991;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.password:hover{
    background-color: #313b4a;
}

#pass-length{
    border: none;
    border-radius: 2px;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    border: so
}

#checkers{
    margin-top: 20px;
}
